
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    margin-left: -20px;
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  

  body{
    font-family: 'Open Sans', sans-serif;
    /* background:#3498db; */
    background:#ffffff;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
  
  p{
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
  }
  
  h1{
    font-size:1.5em;
    color:#525252;
  }
  
  .box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
    margin-top: 25vh;
  }
  
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  
  .btn{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btn:hover{
    background:#2CC06B; 
  }
  
  #btn2{
    float:left;
    background:#3498db;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  
  #btn2:hover{ 
    background:#3594D2; 
  }

  .cardHolder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15vw;
    border-radius: 5px;
    border: 1px solid;
    margin: 20px;
    background: #d91e0b
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .checked {
    color: orange;
  }
  
  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 25vh;
  }
  
  .cardContainer {
    padding: 2px 16px;
  }

  .modalBox {
    width: 80vw;
    height: 70vh;
    background: white;
    color: #111;
    padding: 3rem;
    border-radius: 5px;
  }

  .overLayBox {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .reviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  





  .container {
    border: 2px solid #ccc;
    background-color: #16528b;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    height: 120px;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }

  .reviewHeader {
    margin-top: -50px;

  }

  .reviewCloseButton {
    cursor: pointer;
  }

  .reviewHeaderContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }


  .formInputs {
    display: flex;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
  }

  .example {
    margin: 0 auto 0 auto;
    margin-left: 35vw;
    width: 50vw;

  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  a{
    text-decoration: none;
  }
